@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    position: relative;
    border: chocolate 1px solid;
    height: 600px;
    width: 500px;
    border-radius: 5px;
}
.box {
    box-sizing: border-box;
    border: palegoldenrod 1px solid;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 250px;
    border-radius: 10px;
}
@keyframes destroy {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes show-total {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 240px;
    height: 170px;
    background-color: rebeccapurple;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(207, 238, 229);
    font-family: "Open Sans", sans-serif;
    display: none;
}
.total__score {
    margin: 5px;
}
.total__high {
    margin: 5px;
}
.total__replay {
    background-image: url("./img/replay.png");
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    cursor: pointer;
    margin: 10px 0;
}
.total__replay:hover {
    animation: btn 300ms;
}
.show-total {
    display: flex;
    animation: show-total 2s forwards;
}
.destroy {
    animation: destroy 2s;
    animation-fill-mode: forwards;
}
.container {
    display: flex;
    justify-content: center;
}
.score {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: rgb(0, 48, 180);
    margin-left: 1rem;
    border: #fc2f00 2px solid;
    border-radius: 5px;
}
.score__now {
    padding: 5px;
}
.score__high {
    padding: 5px;
}
.load-menu {
    position: absolute;
    width: 450px;
    height: 250px;
    border-radius: 5px;
    z-index: 500;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(217, 9, 236);
}

.load-menu__box-wrap {
    display: flex;
}

.load-menu__box {
    width: 50px;
    height: 50px;
    border: white 2px solid;
    border-radius: 5px;
}

.load-menu__inner {
    display: flex;
    flex-direction: column;
}
.load-menu__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.load-menu__title-img {
    background-image: url(img/play.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}
@keyframes btn {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-15deg);
    }
    100% {
        transform: rotateZ(+15deg);
    }
}
.load-menu__title-img:hover {
    animation: btn 300ms;
}

@keyframes star-animate {
    0% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(-10deg);
    }
}
.star {
    position: absolute;
    background-image: url("./img/star.png");
    width: 40px;
    height: 38px;
    animation: star-animate 500ms infinite;
}
.pause-btn {
    background-image: url("./img/pause.png");
    width: 50px;
    height: 50px;
    margin: 10px auto;
    cursor: pointer;
    display: none;
}
.mobile-btns {
    position: absolute;
    top: 550px;
    margin-left: 5px;
    display: none;
}
.mobile-btns__left {
    background-image: url("./img/arrow.png");
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
}
.mobile-btns__right {
    background-image: url("./img/arrow.png");
    background-size: 44px 44px;
    transform: rotateZ(180deg);
    width: 44px;
    height: 44px;
}

@media (max-width: 425px) {
    .wrapper {
        width: 250px;
    }
    .box {
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }
    .score {
        width: 80px;
        font-size: 12px;
    }
    .load-menu {
        width: 240px;
    }
    .box {
        left: 125px;
    }
    .star {
        background-repeat: no-repeat;
        background-size: 25px;
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 320px) {
    .wrapper {
        width: 200px;
    }
    .score {
        margin-left: 0;
    }
    .mobile-btns__left,
    .mobile-btns__right {
        background-size: 35px 35px;
        width: 35px;
        height: 35px;
    }
    .box {
        width: 20px;
        height: 20px;
        left: 100px;
    }
    .load-menu {
        width: 190px;
    }
    .load-menu__title {
        flex-direction: column;
    }
    .load-menu__title-img {
        margin-top: 10px;
    }
    .total {
        width: 190px;
    }
}
